.App {
  background-color: #333;
}
.container {
  position: relative;
}
.list__container {
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
}
.list__item {
  padding: 15px;
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  background: #eee;
  margin: 10px;
  border-radius: 10px;
  max-width: 250px;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
.list__item img {
  width: 100%;
}
.searchbar__container {
  height: 40vh;
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.searchbar__container input {
  width: 90%;
  height: 7vh;
  border: none;
  border-radius: 5px;
  font-size: 2em;
}
.search__info {
  font-style: italic;
  color: #888;
}
.item__desc {
  display: none;
  width: 100%;
  height: 100%;
  margin: -15px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
}
.list__item:hover .item__desc {
  display: flex;
}
.item__desc .item__text {
  z-index: 2;
  font-size: 1.1em;
  padding: 15px;
}
.item__desc .background {
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: .85;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.book__info {
  position: fixed;
  left: 5vh;
  right: 5vh;
  top: 5vh;
  height: 90vh;
  z-index: 999;
  overflow: hidden;
}
.book__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0.95;
}
.book__content {
  position: fixed;
  left: 5vh;
  right: 5vh;
  top: 5vh;
  bottom: 5vh;
  z-index: 999;
  overflow-y: scroll;
  padding: 2vw 6vw;
}
.no-sroll {
  overflow: hidden;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.book__info img {
  width: 280px;
}
.cat__box {
  overflow-y: scroll;
  max-height: 200px;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
@media (max-width: 400px) {
  .list__item {
    max-width: 100%;
  }
}