@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Questrial&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&subset=latin-ext');
.App {
  background-color: #333;
}
.container {
  position: relative;
}
.list__container {
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
}
.list__item {
  padding: 15px;
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  max-width: 250px;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
.list__item h3 {
  font-family: 'Comfortaa', cursive;
}
.list__item img {
  width: 100%;
}
.searchbar__container {
  height: 15vh;
  display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.searchbar__container input {
  width: 90%;
  height: 7vh;
  border: none;
  border-radius: 5px;
  font-size: 2em;
}
.searchbar, .load-more {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
.search__info {
  font-style: italic;
  color: #888;
}
.item__desc {
  display: flex;
  opacity: 0;
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  margin: -15px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.list__item:hover .item__desc {
  opacity: 1;
}
.list__item:hover .item__desc .background {
  display: block;
}
.item__desc .item__text {
  z-index: 2;
  font-size: 1.1em;
  padding: 15px;
}
.item__desc .background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .95;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.book__info {
  position: fixed;
  left: 5vh;
  right: 5vh;
  top: 5vh;
  height: 90vh;
  z-index: 999;
  overflow: hidden;
  background: #333;
}
.book__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
  opacity: 0.95;
}
.book__content {
  position: fixed;
  left: 5vh;
  right: 5vh;
  top: 5vh;
  bottom: 5vh;
  z-index: 999;
  overflow-y: scroll;
  padding: 2vw 6vw;
}
.book__content h1 {
  font-family: 'Bad Script', cursive;
}
.book__content {
  font-family: 'Montserrat', sans-serif;
}
.no-sroll {
  overflow: hidden;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.book__info img {
  width: 280px;
}
.cat__box {
  overflow-y: scroll;
  max-height: 200px;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}
.load-more__container {
  padding: 10px;
  position: relative;
  height: 160px;
}
.load-more {
  display: block;
  border: 0;
  margin: 0 auto;
  font-size: 1em;
  background-color: #FA7268;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 400px) {
  .list__item {
    max-width: 100%;
  }
}

/*
* button style
*/
.centered, .button, .button .qube .front::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.full, .button .qube .front, .button .qube .back, .button .qube .front::before {
  width: 100%;
  height: 100%;
}
.button {
  width: 205px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.button .qube {
  position: relative;
  height: 60px;
  width: 185px;
  perspective: 1800px;
}
.button .qube .front, .button .qube .back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  transition: transform 0.3s ease;
  position: absolute;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.button .qube .front {
  background-color: #191919;
}
.button .qube .front::before {
  content: '';
  display: block;
  z-index: -1;
}
.button .qube .front::after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}
.button .qube .back {
  background-color: #fa7268;
  color: #191919;
  transform: rotateX(0deg) translateZ(60px);
}
.button .qube:hover .front {
  transform: rotateX(0deg) translateZ(30px);
}
.button .qube:hover .back {
  transform: rotateX(90deg) translateZ(30px);
}
.button:active .front {
  border-radius: 0;
  background-color: transparent;
  color: #191919;
}
.button:active .front::before {
  background-color: #fa7268;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:active .front::after {
  left: 120%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
